@import-normalize;
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
